@model IEnumerable<IngredientServiceModel>

@{
    ViewBag.Title = "My Ingredients";
    ViewBag.AllowIngredientEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any ingredients!</h2>
}

<partial name="_IngredientsPartial" model="@Model" />